<% extend('../layout/layout') %> 

<div class="about-banner">
    <div class="about-banner-content">
        <p class="about-banner-first">為自己打造</p>
        <p class="about-banner-second">生活的品質</p>
    </div>
</div>
<div class="container">
    <div class="row mt-3 mx-5">
        <div class="col-6 about-img">
            <img src="images/photo-1548964095-b9a292144866.jpg" alt="" class="about-img-box">
        </div>
        <div class="col-6 about-content bg-white">
            <div class="about-inner-content text-left">
                每個品項都會經過一道又一道的嚴選程序，從工廠的製程控管、成品驗貨標準、樣式設計評估到內裝品質要求，甚至親自飛往產地視察、挑選；希望藉由層層把關，能夠讓產品在各方面具備一定水準，再搭配親力親為的有效控管，打造出「同級品質，價格超值」的平價精緻家具；每年國際家具展更幾乎不缺席，悉心考察國際間的流行趨勢與款式，將最新的設計帶回來給客戶，滿足不同的選購需求，讓每座家具能夠歷久彌新！
            </div>
        </div>
    </div>
</div>

<div class="connect-us mt-5 d-flex flex-column align-items-center font-weight-bolder">
    <h1 class="mt-4 connect-title">Furniture</h1>
    <p class="connect-p mt-3">聯絡我們</p>
    <table class="connect-content">
        <tr>
            <td class="text-center">電話: 04-1234567</td>
        </tr>
        <tr>
            <td class="text-center">營業時間: 9:00~20:00</td>
        </tr>
        <tr>
            <td class="text-cneter">地址: 彰化縣北斗鎮廣加路3段287號</td>
        </tr>
    </table>
</div>