<% extend('../layout/layout') %> 

<div class="about-banner">
    <div class="about-banner-content">
        <p class="about-banner-first">為自己打造</p>
        <p class="about-banner-second">生活的品質</p>
    </div>
</div>

<div class="container">
    
</div>