<% extend('../layout/layout') %> 

<div class="about-banner">
    <div class="about-banner-content">
        <p class="about-banner-first">為自己打造</p>
        <p class="about-banner-second">生活的品質</p>
    </div>
</div>

<div class="container mt-5 mb-5">
    <p class="text-center title-size font-weight-bolder">喜愛商品</p>
    <div class="row mx-5 fav-base-line">
        <div class="col-sm-6 content-size font-weight-bolder fav-count">
            我的收藏 (<span>3</span>)
        </div>
        <div class="col-sm-6">
            <div class="dropdown text-right">
                <a class="btn btn-secondary dropdown-toggle bg-light text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  商品排序
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">價格由低到高</a>
                  <a class="dropdown-item" href="#">價格由高到低</a>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column mx-5">
        <div class="row my-3 fav-card">
            <div class="col-lg-3 col-md-5 fav-img-card">
                <img src="images/photo-1554295405-abb8fd54f153.jpg" class="fav-img" alt="">
            </div>
            <div class="col-lg-9 col-md-7 fav-content">
                <p class="products-font-size text-light font-weight-bolder">沙發</p>
                <p class="text-light font-weight-bolder">型號 : <span>K5520</span></p>
                <!-- 768px 以上顯示 -->
                <div class="row fav-card-btn">
                    <div class="col-7 text-light fav-price">
                        <p class="del-price mr-2"><del><span>NT</span> 5,5000</del></p>
                        <p>NT<span> 3,3000</span></p>
                    </div>
                    <div class="col-5 text-light fav-add-card">
                        <a href="">加到購物車</a>
                    </div>
                </div>
                <!-- 768px以下顯示 -->
                <div class="fav-content-sm">
                    <div class="text-light fav-price">
                        <p class="del-price mr-2"><del><span>NT</span> 5,5000</del></p>
                        <p>NT<span> 3,3000</span></p>
                    </div>
                    <div class="text-light fav-add-card">
                        <a href="">加到購物車</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3 fav-card">
            <div class="col-lg-3 col-md-5 fav-img-card">
                <img src="images/neonbrand-Wp7t4cWN-68-unsplash.jpg" class="fav-img" alt="">
            </div>
            <div class="col-lg-9 col-md-7 fav-content">
                <p class="products-font-size text-light font-weight-bolder">沙發</p>
                <p class="text-light font-weight-bolder">型號 : <span>K5520</span></p>
                <!-- 768px 以上顯示 -->
                <div class="row fav-card-btn">
                    <div class="col-7 text-light fav-price">
                        <p class="del-price mr-2"><del><span>NT</span> 5,5000</del></p>
                        <p>NT<span> 3,3000</span></p>
                    </div>
                    <div class="col-5 text-light fav-add-card">
                        <a href="">加到購物車</a>
                    </div>
                </div>
                <!-- 768px以下顯示 -->
                <div class="fav-content-sm">
                    <div class="text-light fav-price">
                        <p class="del-price mr-2"><del><span>NT</span> 5,5000</del></p>
                        <p>NT<span> 3,3000</span></p>
                    </div>
                    <div class="text-light fav-add-card">
                        <a href="">加到購物車</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



