<% extend('../layout/layout') %> 

<div class="about-banner">
    <div class="about-banner-content">
        <p class="about-banner-first">為自己打造</p>
        <p class="about-banner-second">生活的品質</p>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row finish-card">
        <div class="col-6 finish-content d-flex flex-column align-item-center text-center">
            <p class="title-size font-weight-bolder mt-3">Furniture</p>
            <div class="content">
                <p class="p-one">感謝您的購買</p>
                <p class="p-two">歡迎下次光臨</p>
            </div>
            <a href="/products" class="continue-shopping">
                <i class="fas fa-reply"></i> 繼續購物
            </a>
        </div>
        <div class="col-6 finish-img"></div>
    </div>
</div>