<% extend('../layout/layout') %> 

<div class="about-banner">
    <div class="about-banner-content">
        <p class="about-banner-first">為自己打造</p>
        <p class="about-banner-second">生活的品質</p>
    </div>
</div>

<div class="container mt-5">
    <div class="list-check">
        <ol class="list d-flex justify-content-center">
            <li>
                <i class="fa fas fa-shopping-cart"></i>
                確認購物車訂單
            </li>
            <li>
                <i class="fa fa-file-text" aria-hidden="true"></i>
                填寫個人資料
            </li>
            <li class="active">
                <i class="fa fas fa-money-check-alt"></i>
                結帳去
            </li>
            <li>
                <i class="fa fa-archive" aria-hidden="true"></i>
                完成訂單
            </li>
        </ol>
    </div>
    <div class="single">
        <i class="fa fas fa-money-check-alt"></i>
        結帳去
    </div>
    
    <hr class="bg-dark">
    
    <div class="row">
        <div class="col-xl-7">
            <div class="container table-responsive-md">
                <table class="table shopping-detail">
                    <thead>
                      <tr>
                        <th class="total">訂單總計</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>1</th>
                        <td>沙發</td>
                        <td><span>NT</span> 3,300 <span>/組</span></td>
                        <td>x1</td>
                      </tr>
                      <tr>
                        <th>2</th>
                        <td>沙發</td>
                        <td><span>NT</span> 3,300 <span>/組</span></td>
                        <td>x1</td>
                      </tr>
                      <tr>
                        <th>3</th>
                        <td>沙發</td>
                        <td><span>NT</span> 3,300 <span>/組</span></td>
                        <td>x1</td>
                      </tr>
                    </tbody>
                </table>
            </div>

            <table class="table table-sm">
              <tbody>
                <tr>
                  <th>小計</th>
                  <td class="text-right origin-pay"><span>NT</span> 9,900</td>
                </tr>
                <tr>
                  <th>優惠券</th>
                  <td class="text-right"><span>折扣</span> 80%</td>
                </tr>
                <tr>
                  <th>運費</th>
                  <td class="text-right"><span>NT</span> 100</td>
                </tr>
                <tr>
                  <th>付款方式</th>
                  <td class="text-right">中國信託</td>
                </tr>
                <tr>
                  <th>總計</th>
                  <td class="text-right final-pay"><span>NT</span> 8,020</td>
                </tr>
              </tbody>
            </table>

        </div>
        <div class="col-xl-5 d-flex align-items-start mb-3">
          <div class="container table-responsive-md">
            <table class="table customer-detail">
                <thead>
                  <tr>
                    <th class="total">顧客資訊</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>Email</th>
                    <td>qwe@google.com</td>
                  </tr>
                  <tr>
                    <th>顧客姓名</th>
                    <td>小名</td>
                  </tr>
                  <tr>
                    <th>顧客電話</th>
                    <td>0912345678</td>
                  </tr>
                  <tr>
                    <th>顧客地址</th>
                    <td>彰化縣員林鎮中山路1段578號</td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
    
    <div class="text-right mb-4">
      <a href="/cart/checkcart" class="btn btn-success mr-2">回購物車訂單</a>
      <a href="/cart/finish" class="btn btn-success">確認結帳</a>
    </div>
</div>